#Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
env310/
env/
venv/
ENV/
env.bak/
venv.bak/

#Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media
media/

#Docker
.env

#Lainnya
*.DS_Store
*.env
*.swp

